<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts && !isLoading; else noPosts">
  <mat-expansion-panel *ngFor="let post of posts; let i=index;">
    <mat-expansion-panel-header>
      <h2>{{post.title}}</h2>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="isUserAuthenticated && userId === post?.creator">
      <button mat-button
              color="primary"
              (click)="onEdit(post)">EDIT
      </button>
      <button mat-button
              color="warn"
              (click)="onDelete(post['id'])">DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator *ngIf="posts;"
               [length]="totalPosts"
               [pageSize]="postsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onChangedPange($event)">
</mat-paginator>
<ng-template #noPosts>
  <p class="mat-body-1 info-text">No posts added yet!</p>
</ng-template>


